<div class="container-fluid row mt-3 ml-5">
    <h3>Map Operator Example</h3>
</div>


<div class="container-fluid row mt-3 ml-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Simple Example of Using map 
                EX: - 'Video' + data
            </div>
            <div class="card-body">
               <ul id="elContainer"> </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Simple Example of Using map 
                EX: - data + 5
            </div>
            <div class="card-body">
               <ul id="elContainer2"> </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                EX: - display only names from array of objects
            </div>
            <div class="card-body">
               <ul id="elContainer3"> </ul>
            </div>
        </div>
    </div>
</div>
