<div class="container-fluid row mt-3 ml-5">
    <div class="col-md-12">
        <h3>Of & From Example</h3>
    </div>
</div>
<br>
<br>


<div class="row container">
    <h5>OF Example</h5>
    <hr>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <span>Ex-1: &nbsp;</span> <strong>Data-</strong><span>of('John','Adam','Jack')</span>
            </div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <span>Ex-2: &nbsp;</span> <strong>Data-</strong><span>of(&#123;CEO:'John',PM:'Adam',HR:'Jack'&#125;)</span>
            </div>
            <div class="card-body">
                <ul id="elContainer2">
                    <li>CEO:&nbsp;{{obs.CEO}}</li>
                    <li>PM:&nbsp;{{obs.PM}}</li>
                    <li>HR:&nbsp;{{obs.HR}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row container">
    <h5>From Example</h5>
    <hr>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            <span>Ex-1: &nbsp;</span> <strong>Data-</strong><span>from(['Cricket','Badminton','Chess'])</span>
            </div>
            <div class="card-body">
                <ul id="elContainer3">
                </ul>
            </div>
        </div>
    </div>  
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            <span>Ex-2: &nbsp;</span> <strong>Data-</strong><span>Promise to Observable</span>
            </div>
            <div class="card-body">
                <ul id="elContainer4">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            <span>Ex-3: &nbsp;</span> <strong>Data-</strong><span>String to Observable</span>
            </div>
            <div class="card-body">
                <ul id="elContainer5">
                </ul>
            </div>
        </div>
    </div>
</div>