<div class="container-fluid row mt-3 ml-5">
    <div class="col-md-12">
        <h3>ToArray</h3>
    </div>
</div>
<br>
<div class="row container">
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
            <span>Ex-1: &nbsp;</span> <strong>Data-</strong><span>Print Numbers Using ToArray</span>
            </div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <span>Ex-2: &nbsp;</span> <strong>Data-</strong><span>Pass Arrayof object Values into from operator and convert into an Array Using ToArray Operator.</span>
            </div>
            <div class="card-body">
                <ul id="elContainer2">
                   {{obs2 |  json}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            <span>Ex-3: &nbsp;</span> <strong>Data-</strong><span>Pass Values in of operator convert into an Array</span>
            </div>
            <div class="card-body">
                <ul id="elContainer2">
                   {{obs3}}
                </ul>
            </div>
        </div>
    </div>
</div>
<br>

