<div class="container-fluid row mt-3 ml-5">
    <div class="col-md-12">
        <h3>Custom Observable (next,error,complete)</h3>
    </div>
</div>
<br>
<br>

<div class="row container-fluid">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <strong>EX-O1 (Manual)</strong>
            </div>
            <div class="card-body">
                <ul id="elContainer" class= 'ObservableUl' [ngClass]="status=='completed' ? 'ObservableUl-success' : status=='error' ? 'ObservableUl-error': 'ObservableUl'">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <strong>Ex-02 (Custom Interval Observable)</strong>
            </div>
            <div class="card-body">
                <ul id="elContainer2" class="ObservableUl" [ngClass]="status2=='completed' ? 'ObservableUl-success' : status2=='error' ? 'ObservableUl-error': 'ObservableUl'">
                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<br>


