.ObservableUl li
{
 background-color: rgba(243, 239, 239, 0.867);
 padding: 12px 12px;
 margin-top:10px
}

.ObservableUl-error li
{
 background-color: rgb(241, 77, 77);
 padding: 12px 12px;
 margin-top:10px;
 color:white;
 font-weight:bold;
}

.ObservableUl-success li
{
 background-color:greenyellow;
 padding: 12px 12px;
 margin-top:10px;
 font-weight:bold;
}



.ObservableUl{
    list-style-type: none;
    margin:0;
    padding: 0;
}