<!--Section 1-->
<div class="section_our_solution mt-3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>From Event</h3>
            </div>
            <div class="solu_description">
              <p>
                Creates an Observable that emits events of a specific type coming from the given event target.
                fromEvent(element,'click')
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/fromEvent']">Show Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Interval & Timer</h3>
            </div>
            <div class="solu_description">
              <p>
                <strong>Interval</strong> - Creates an Observable that emits sequential numbers every specified interval
                of time.<br>
                <strong>Timer</strong>- After given duration, emit numbers in sequence every specified duration.Syntax
                :- timer(dealy,period)
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/interval-and-timer']">Show
                Example</button>
            </div>
          </div>
        </div>
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>of & from</h3>
            </div>
            <div class="solu_description">
              <p>
                <strong>Of - </strong>Emit variable amount of values in a sequence and then emits a complete
                notification.<br>
                <strong>From- </strong>Turn an array, promise, or iterable into an observable
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/of-and-from']">Show
                Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>ToArray</h3>
            </div>
            <div class="solu_description">
              <p>
                Collects all source emissions and emits them as an array when the source completes.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/to-array']">Show Example</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Section 2-->
<div class="section_our_solution mt-3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Custom Observable</h3>
            </div>
            <div class="solu_description">
              <p>
                Manually Create Observable using Obeservable.create(). There are three arguments for handling data.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/custom-observable']">Show
                Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Filter</h3>
            </div>
            <div class="solu_description">
              <p>Filter items emitted by the source Observable by only emitting those that satisfy a specified
                predicate.</p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/filter']">Show Example</button>
            </div>
          </div>
        </div>
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Map</h3>
            </div>
            <div class="solu_description">
              <p>
                Apply projection with each value from source. This oprator is very usefull.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/map']">Show Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Pluck</h3>
            </div>
            <div class="solu_description">
              <p>
                Get the Property value from the data.it's perform short hand operation of the Map.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/pluck']">Show Example</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Section 3-->
<div class="section_our_solution mt-3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Tap</h3>
            </div>
            <div class="solu_description">
              <p>
                Used to perform side-effects for notifications from the source observable
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/tap']">Show Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Take</h3>
            </div>
            <div class="solu_description">
              <p>Emits only the first count values emitted by the source Observable.</p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/take']">Show Example</button>
            </div>
          </div>
        </div>
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3>Retry</h3>
            </div>
            <div class="solu_description">
              <p>
                Apply projection with each value from source. This oprator is very usefull.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/retry']">Show Example</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="./../../../../assets/logo.svg" />
            </div>
            <div class="solu_title">
              <h3></h3>
            </div>
            <div class="solu_description">
              <p>
                Get the Property value from the data.it's perform short hand operation of the Map.
              </p>
              <button type="button" class="read_more_btn" [routerLink]="['/observable/pluck']">Show Example</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>