<div class="container-fluid row mt-3 ml-5">
    <h3>Tap Operator Example  </h3>  
</div>
<br>
<br>

<div class="container-fluid row mt-3 ml-5" [ngStyle]="{color: colorName}">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
              <strong>Ex-01 - </strong>Display Employees Name
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Ex-02 - </strong> Display Colors
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
</div>


